
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    background-color: #f8f9fa; 
    
}

.botao-atualizar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.botao-atualizar button {
    padding: 10px 20px;
    background-color: #356937;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.botao-atualizar button:hover {
    background-color: #47a51b;
}


.logo-container{
    position: absolute; /* Posiciona a div em relação ao cabeçalho */
    top: 0; 
    left: 0; 
    width: 100%; /* largura do cabeçalho */
    height: 15%;
    background-color: #f8f9fa; 
    z-index: 1;
}

img {
    position: absolute; /* Posiciona a imagem em relação ao contêiner mais próximo */
    top: 0; 
    left: 0; 
    max-width: 200px; /* largura máxima */
    max-height: 200px; /* altura máxima */
    width: auto; /* proporção da imagem */
    height: auto; /* proporção da imagem */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Altura total */
    margin-top: 10%;
 
}

.esquerda-painel, .direita-painel {
    flex: 1; /* 50% da tela */
    overflow-y: auto;

    padding: 20px;
    box-sizing: border-box;
}

.esquerda-painel {
    background-color: #f8f9fa; 
    
    border-right: 2px solid #ccc; 
}

.esquerda-painel h1{
    color: red;
}

.direita-painel {
    background-color: #f8f9fa; 
}

ul {
    list-style-type: none; /*  marcadores da lista */
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #356937;
    font-weight: bold;
}

a:hover {
    color: #47a51b;
    text-decoration: none;
}

.esquerda-painel h1,
.direita-painel h1 {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Cor de fundo igual à do painel */
    padding: 10px;
    margin: 0;
    z-index: 10;
    border-bottom: 2px solid #ccc; /* Linha para destacar */
}
