
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8b8b9; /* Fundo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-container{
    position: absolute; /* Posiciona a div em relação ao cabeçalho */
    top: 0; /* Alinha ao topo do cabeçalho */
    left: 0; /* Alinha à esquerda do cabeçalho */
    width: 100%; /* A div ocupará 100% da largura do cabeçalho */
    height: 15%;
    background-color: white; /* Fundo branco */
}

img {
    position: absolute; /* Posiciona a imagem em relação ao contêiner mais próximo */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    max-width: 200px; /* Define uma largura máxima */
    max-height: 200px; /* Define uma altura máxima */
    width: auto; /* Mantém a proporção da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

form {
    background-color: white; /* Fundo do formulário */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px; /* Largura do formulário */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhamento centralizado do conteúdo */
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    align-self: flex-start; /* Alinha o label à esquerda */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #7caf7c;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #6eae6e;
}