
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef; /* Fundo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Espaço abaixo do título */
}

form {
    background-color: #ffffff; /* Fundo do formulário */
    padding: 30px;
    border-radius: 10px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    width: 300px; /* Largura fixa do formulário */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold; /* Texto em negrito */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px; /* Mais espaço interno */
    margin-bottom: 15px; /* Espaço entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px;
    transition: border-color 0.3s; /* Transição suave para a borda */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #5cb85c; /* Cor da borda ao focar */
    outline: none; /* Remove o coo contorno padrão */
}

button {
    background-color: #5cb85c; /* Cor de fundo do botão */
    color: white;
    border: none;
    padding: 12px 15px; /* Mais espaço interno no botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Botão ocupa a largura total */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button:hover {
    background-color: #4cae4c; /* Cor ao passar o mouse */
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    color: #d9534f; /* Cor das mensagens de erro */
}

li {
    margin-bottom: 10px;
}
