<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    <title>dashboard</title>
</head>
<body>
    <div class="logo-container">
        <img  src="{{ url_for('static', filename='img/serra-horizontal-cor.png') }}" alt="logo">
    </div>

    <div class="container">
            <div class="esquerda-painel">
                <h1>Prioridade</h1>
                <p>Imagem com maior prioridade + informações</p>
            </div>
            <div class="direita-painel">
                <h2>Lista de prioridades</h2>
                <!-- Verifica se a lista contém itens -->
                {% if items %}
                <ul>
                    <!-- Loop através da lista 'items' -->
                    {% for item in items %}
                        <li>
                            <!-- Envolve cada item em um link -->
                            <a href="{{ url_for('item_detail', item_name=item) }}">{{ item }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Sem itens para exibir!</p>
            {% endif %}
            </div>
        </div>    
</body>
</html>