<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    <title>dashboard</title>
</head>
<body>
    <div class="logo-container">
        <img  src="{{ url_for('static', filename='img/serra-horizontal-cor.png') }}" alt="logo">
    </div>

    <div class="container">
            <div class="esquerda-painel">
                <h1>Prioridade</h1>
                <p>Imagem com maior prioridade + informações</p>
            </div>
            <div class="direita-painel">
                <h2>Lista de prioridades</h2>
                <ul>
                    {% if pacientes %}
                        {% for paciente in pacientes %}
                            <li>
                                <a href="{{ url_for('detalhe', id=paciente[0]) }}">{{ paciente[2] }}</a> - {{ paciente[1] }} <!-- Exibe o nome -->
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>Sem itens para exibir!</p>
                    {% endif %}
                </ul>
            </div>
        </div>    
</body>
</html>