<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    <title>dashboard</title>
</head>
<body>
    <div class="container">
            <div class="esquerda-painel">
                <h2>Esquerda</h2>
                <p>Conteúdo da metade esquerda da tela.</p>
            </div>
            <div class="direita-painel">
                <h2>Direita</h2>
                <p>Conteúdo da metade direita da tela.</p>
            </div>
        </div>    
</body>
</html>