<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe</title>
</head>
<body>
    <h1>Detalhes do Paciente</h1>
    <p><strong>Nome:</strong> {{ paciente[1] }}</p>
    <p><strong>Diagnóstico:</strong> {{ paciente[2] }}</p>
    <p><strong>Idade:</strong> {{ paciente[3] }}</p>
    <p><strong>Sexo:</strong> {{ paciente[4] }}</p>
    <p><strong>Imagem de Raio-X:</strong></p>
    <img src="{{ url_for('static', filename=paciente[5].replace('\\', '/').replace('static/', '')) }}" alt="Imagem de Raio-X">



</body>
</html>