<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detalhe.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detalhes do Paciente</h1>
        <p><strong>Nome:</strong> {{ paciente['patient_name'] }}</p>
        <p><strong>Idade:</strong> {{ paciente['idade'] }}</p>
        <p><strong>Sexo:</strong> {{ paciente['sexo'] }}</p>
        <p><strong>Diagnóstico:</strong> {{ paciente['diagnostico'] }}</p>

        <h2>Imagem</h2>
        <img src="{{ url_for('static', filename=paciente['caminho_imagem']) }}" alt="Imagem do paciente">
        <br>

        <div class="botao-container">
            <a href="{{ url_for('dashboard') }}" class="botao-voltar">Voltar</a>
        </div>

        <div class="botao-container">
            <a href="{{ url_for('dashboard') }}" class="botao-voltar">Voltar</a>
            <form action="{{ url_for('remover_paciente', id=paciente['id']) }}" method="post" style="display: inline;">
                <button type="submit" class="botao-remover">Remover Paciente</button>
            </form>
        </div>
        
    </div>
</body>
</html>
