body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    width: 1px; /* Largura da linha */
    height: 100%; /* Altura da linha */
    background-color: #000; /* Cor da linha */
    position: absolute;
    top: 0;
    left: 50%; /* Posiciona no meio da tela */
    transform: translateX(-50%); /* Centraliza a linha exatamente no meio */
}

.imagem-direita {
    position: absolute;
    top: 40%; /* Ajusta para controlar o quanto a imagem fica mais para cima */
    left: 5%; /* Mantém a imagem mais distante da borda direita */
    transform: translateY(-50%); /* Centraliza verticalmente, mas com ajuste para cima */
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}